<!DOCTYPE html>
<html>

<head>
    <title>Forget Password Email</title>
</head>

<body>
    <div>
        <h2>Dear sir/madam,</h2>
        <h3>Somebody (hopefully You) requested for a password reset, kindly use this link below to reset your password</h3>
       
          <p>{{url}}</p>
        <br>
        <p>Cheers!</p>
    </div>
   
</body>

</html>
